#showimage,#showname{
  display: inline-block;
}

#showname{
  margin-left: 1%;
}

#showimage img{
  height: 41px;
  width: 75px;
}

.navtitle{
  color:antiquewhite;
}

#showtime{
  display: inline-block;
  float: right;
  margin-top: 1.5%;
}
#showpic{
  /*width: 45%;*/
  height: 400px;
}
body{
  /*background-image: url("../shows.jpg");*/
}
#image{
  width: 35%;
  display: inline-block;
}
#summary{
  font-family: cursive;
  font-size: x-large;
  margin-top: 2%;
}
#showinfo{
  font-family: inherit;
    font-size: 31px;
}

#mainimg{
  width: 100%
}

div#mainname {
    font-size: 29px;
}
section.small-12.medium-4.columns {
    background-color: aliceblue;
}
article {
    margin-left: 2%;
}
@media print, screen and (min-width: 40em) { .column, .columns { padding-right: 1rem; padding-left: 1rem; } }

.column.row.row, .row.row.columns { float: none; display: block; }

.row .column.row.row, .row .row.row.columns { margin-right: 0; margin-left: 0; padding-right: 0; padding-left: 0; }



@media print, screen and (min-width: 40em) { .medium-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; }
  .medium-offset-0 { margin-left: 0%; }
  .medium-4 { flex: 0 0 33.3333333333%; max-width: 47.333333333%; }
  .medium-offset-3 { margin-left: 25%; }
  .medium-offset-6 { margin-left: 50%; }
  .medium-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; }
  .medium-offset-7 { margin-left: 58.3333333333%; }
  .medium-9 { flex: 0 0 75%; max-width: 75%; }
 


/*Fonts*/
/*------------------*/
/*Generic Elements*/
/*Heading*/
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", sans-serif; font-weight: 300; }

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight: 400; }

p { line-height: 1.6; }

a { outline: none; }

/*Generic Classes*/
.left { float: left !important; }

.right { float: right !important; }

